*{
    display: inline-block;
    position: relative;
}

script{
    display: none;
}

style{
    display: none;
}

#map {
    float: left;
    height: 500px;
    width: 79%;
}

#RegionMenu{
    display: none;
    float: right;

    width: 20%;
    height: 70px;
    text-align: center;
    margin-top: 200px;
}

#RegionMenu a{
    border: #000000 solid 1px;
    text-decoration: none;
    color: #000000;

    font-size: 20px;
    font-family: serif;
    font-weight: bold;

    transition: 1s;

    margin-top: 5px;
    cursor: pointer;
}

#RegionMenu a:Hover{
    background-color: rgb(51, 102, 153);
    color: #ffffff;
}

html{
    background-color: rgb(51, 102, 153);
}

Header{
    width: 100%;

    background-color: #ffffff;
}

.NavBar{
    width: 100%;

    border: 2px solid #000000;

    text-align: center;
}

.NavBar ul{
    width: 100%;
    padding: 5px;
}

.NavBar li a{
    padding: 4px;
    margin-right: 8px;

    text-decoration: none;
    color: #000000;

    font-size: 20px;
    font-family: serif;
    font-weight: bold;
    transition: 1s;
}

.NavBar li a:hover{
    background-color: rgb(51, 102, 153);
    color: #ffffff;

    border-radius: 20%;
}

.NavBar li a:active{
    background-color: rgb(51, 102, 153);
    color: #ffffff;
}

Body{
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 40%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

.BodyContent{
    margin-top: 15px;
    margin-bottom: 15px;

    width: 100%;
}

.BodyWelcomeMessage{
    float: left;
    word-break: keep-all;

    text-align: center;

    width: 60%;
}

.BodyWelcomeMessage h2{
    text-decoration: underline;
}

.BodyWelcomeMessage p{
    text-align: left;
}

.BodyPostcodeForm{
    float: right;

    width: 40%;

    margin-top: 50px;

    padding-top: 80px;
    padding-bottom: 60px;

    text-align: center;
}

#BtnSubmit{
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: #ffffff;
    border: #000000 solid 1px;
    text-decoration: none;
    color: #000000;

    font-size: 20px;
    font-family: serif;

    transition: 1s;
    cursor: pointer;
}

#BtnSubmit:hover{
    background-color: rgb(51, 102, 153);
    color: #ffffff;
}

#TxtPostcode{
    background-color: #ffffff;
    border: #000000 solid 1px;
    text-decoration: none;
    color: #000000;

    font-size: 20px;
    font-family: serif;
}

#ErrorMessage{
    display: none;
    width: auto;
    height: auto;
    border: 1px solid #ff0000;
}

#ErrorMessage:target{
    display: inline-block;
}

Footer{
    width: 100%;

    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    
    background-color: rgb(51, 102, 153);
}

.FooterContent{
    width: 100%;

    box-shadow: 0px 20px 0px 0px rgb(51, 102, 153);
}

.FooterContent a{
    margin-top: 10px;
    margin-bottom: 10px;

    background-color: #ffffff;
    border: #000000 solid 1px;
    text-decoration: none;
    color: #000000;

    font-size: 20px;
    font-family: serif;
    font-weight: bold;

    transition: 1s;
    cursor: pointer;
}

.FooterContent a:hover{
    background-color: rgb(51, 102, 153);
    color: #ffffff;
}

.FooterContent div{
    display: none;
}

.FooterContent div:target{
    display: block;
}

.PageLogo{
    display: block;

    border: 1px solid #000000;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    
    cursor: pointer;
}

.PageBanner{
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 100%;
    height: 200px;

    border-bottom: solid 2px #000000;
}

#MspImage img{
    border: 2px solid #000000;
    border-radius: 100%;
}

#ConName {
    text-decoration: underline;
}

#RegionMenuC{
    width: 50%; 
    margin-top: 25%; 
    margin-bottom: 20px; 
    float: right;
    text-align: center;
}

#RegionMenuC a{
    border: #000000 solid 1px;
    text-decoration: none;
    color: #000000;

    font-size: 20px;
    font-family: serif;
    font-weight: bold;

    transition: 1s;

    margin-top: 5px;
    cursor: pointer;
}

#RegionMenuC a:Hover{
    background-color: rgb(51, 102, 153);
    color: #ffffff;
}

.BodyContentC{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 50%;
    text-align: center;
    float:left;
}

/*Mobile*/
@media screen and (Max-width: 500px) {
    .BodyWelcomeMessage{
        width: 100%;
    }
    
    .BodyPostcodeForm{
        margin-top: 25px;
        width: 100%;
        text-align: center;
        margin-right: 0%;
        margin-top: 0%;
    }

    .BodyWelcomeMessage{
        font-size: 18px;
    }

    .FooterContent a{
        font-size: 18px;
    }

    #MobileNavBar{
        width: 100%;
    
        border: 1px solid #000000;
    
        text-align: center;
    }
    
    #MobileNavBar ul{
        width: 100%;
        padding: 5px;
    }

    #MobileNavBar li a{
        font-size: 18px;
    }
    
    #MobileNavBar li a:hover{
        background-color: rgb(51, 102, 153);
        color: #ffffff;
    
        border-radius: 20%;
    }
    
    #MobileNavBar li a:active{
        background-color: rgb(51, 102, 153);
        color: #ffffff;
    }

    #MobileNavBar:Target{
        display: inline-block;
    }

    body{
        border-radius: 0%;
    }

    #map {
        float: none;
        height: 500px;
        width: 100%;
    }

    .BodyContent{
        float: none;
        width: 100%;
    }

    #RegionMenuC{
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 5%; 
    }

    #RegionMenuC a{
        border: #000000 solid 1px;
        text-decoration: none;
        color: #000000;
    
        font-size: 20px;
        font-family: serif;
        font-weight: bold;
    
        transition: 1s;
    
        margin-top: 5px;
        cursor: pointer;
    }
    
    #RegionMenuC a:Hover{
        background-color: rgb(51, 102, 153);
        color: #ffffff;
    }

    .BodyContentC{
        float: none;
        width: 100%;
    }

    #RegionMenu{
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 5%; 
    }
  }
  
/*Tablet*/
@media screen and (Min-width: 501px) and (Max-width: 800px) {
    .BodyWelcomeMessage{
        width: 100%;
    }
    
    .BodyPostcodeForm{
        margin-top: 25px;
        width: 100%;
        text-align: center;
        margin-right: 0%;
        margin-top: 0%;
    }

    body{
        border-radius: 0%;
    }

    #RegionMenu{
        margin-top: 5%; 
    }

    #RegionMenuC{
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 5%; 
    }

    #RegionMenuC a{
        border: #000000 solid 1px;
        text-decoration: none;
        color: #000000;
    
        font-size: 20px;
        font-family: serif;
        font-weight: bold;
    
        transition: 1s;
    
        margin-top: 5px;
        cursor: pointer;
    }
    
    #RegionMenuC a:Hover{
        background-color: rgb(51, 102, 153);
        color: #ffffff;
    }

    .BodyContentC{
        float: none;
        width: 100%;
    }

    #map {
        float: none;
        height: 500px;
        width: 100%;
    }

    #RegionMenu{
        float: none;
        width: 100%;
        text-align: center;
        margin-top: 5%; 
    }
  }

/*Desktop*/
@media screen and (Min-width: 801px) {
    /*placeholder*/
  }